---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
import Subtitle from "../components/Subtitle.astro";
import Timeline from "../components/Timeline.astro";
import Academic from "../components/Academic.astro";
import Download from "../components/Download.astro";
---

<Layout title="CV">
    <Header/>
    <div class="pb-6">
        <Subtitle subtitle="/ CV"/>
    </div>
    <div class="ml-6 pb-6">
        <div>
            <h1 class="text-white text-xl text-extrabolt mb-6">>> Experiencia Laboral</h1>
        </div>
        <Timeline/>
        <div>
            <h1 class="text-white text-xl text-bolt my-6">>> Historial Academico</h1>
        </div>
        <Academic/>
    </div>
    <div class="">
            <div class="flex justify-center">
                <img src="/cv.webp" alt="cv" width="800" height="auto">
            </div>
            <div class="flex justify-center">
                <div class="px-5 py-2.5 text-sm text-white font-medium  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <a download="cv" href="/Curriculum Carlos Eduardo Ramos Martinez  (Actualizado).pdf">Haz clic aqui para descargar el cv completo</a>
                </div>
            </div>
    </div>
    <Footer/>
</Layout>

