---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import Subtitle from "../components/Subtitle.astro";
---

<Layout title="Proyectos">
    
<div class="mb-6">
    <div>
        <Header/>
    </div>
    <main>
        <div>
            <h1><Subtitle subtitle="/ Proyectos" /></h1>
        </div>
        <p class="text-white p-6 text-lg font-sans">Actualemnte me encurntro trabajando en la presencia en linea de la empreza <strong class="text-green-400">vive la baja</strong>, soy el encargado del mantenimiento, diseño y despliegue de las paginas web desarrolladas en Wordpress.</p>
        <div class="grid grid-cols-3 gap-4 px-6">
           <div>
            <Projects class="h-min-content bg-slate-300 flex flex-col"
            href="https://www.vivelabaja.com/"
            img="/vive.webp"
            content="En este proycto trabaje la mudanza del sitio web de la empresa, ya que estaban actualizando su imagen."
            title="Pagina Vive La Baja"
            badge="Wordpress"
            badge2="Kadence"
            />     
            </div>
            <div>
                <Projects class="h-min-content bg-slate-300 flex flex-col"
                href="https://www.santoriniresidencial.mx/"
                img="/santorini.webp"
                title="Santorini landing"
                content="Este proyecto trabaje la landing de unos de los desarrollos de la empresa, uno de los desarrollos con mas tranquilidad."
                badge="Wordpress"
                badge2="Kadence"
                />                      
            </div>                                      
           <div>
            <Projects class="h-min-content bg-slate-300 flex flex-col"
            href="https://www.puertoescondidoresidencial.com/"
            img="/puertoes.webp"
            title="Landing Puerto Escondido"
            content="Este proyecto representa los productos en costa que se ofrecen con vista al mar, con las mejores vistas."
            badge="Wordpress"
            badge2="Kadence"
            />     
            </div>                                      
        </div>
    </main>
</div>
<Footer/>
</Layout>