---

---


<footer class="bg-zinc-900 rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Este portafolio fue echo con Astro, Taildwinds CSS.</span>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://www.linkedin.com/in/carlos-eduardo-ramos-martinez-61a9bb159/" class="hover:underline" target="_blank">Eduardo Ramos</a>.</span>
    </div>
</footer>


