---
import Image from "astro/components/Image.astro";

const {name="<Eduardo Ramos />"} = Astro.props;
---
<div>
    <div class="flex justify-center ">
        <img class="h-40 w-40 object-cover rounded-full" src="/01.jpg" alt="perfil">
    </div>
    <div class="py-8 text-center text-6xl font-extrabold">
        <a href="#" class="py-8 font-sans bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% bg-clip-text text-transparent">
            {name}
        </a>
    </div>
</div>
